/* .item {
    margin: 0;
    font: inherit;
    text-decoration: inherit;
    align-items: center;
    display: flex;
    margin-top: -1px;
    padding: 16px;
    border: thin solid var(--newCommunityTheme-postLine);
} */