.barContainer {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    /* justify-self: flex-start; */
    height: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    /* font-size: 100px; */
    border-block: solid 1px #ccc;
    padding-inline: 1rem;
}

.barContainer img {
    max-width: 100%;
    height: 70px;
    padding: 7.5px 7.5px;
}

.font-link {
    font-family: 'Dongle', sans-serif;
}

.logo {
    margin: 0px;
    padding-top: 15px;
    padding-left: 15px;
    align-self: center;
}

.bar-container a {
    color: crimson;
    text-decoration: none;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    /* border-top: 2px solid crimson; */
    /* padding-top: 20px; */
    /* padding-bottom: 10px; */
}

.button {
    /* border: solid red 2px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid crimson; */
    gap: 7px;
    padding: 10px;
    /* padding-inline: 20px; */
    font-size: 17px;
    font-weight: 550;
    cursor: pointer;
    transition: .25s;
    border-radius: 7.5px;
    background-color: transparent;
    /* border: none; */
}

.button:hover {
    background-color: crimson;
    color: white;
}