.parent {
    display: grid;
    grid-template-areas:
        "text-editor chat"
        "footer chat";
    --vspage__footer-height: 130px;
    grid-template-rows: 1fr var(--vspage__footer-height);
    grid-template-columns: 1fr 275px;
    /* border: solid 5px plum; */
    z-index: 0;
    /* height: 100vh; */
    height: 100%;
}

.parent > .text-editor {
    grid-area: text-editor;
    z-index: 0;
    /* border: solid 5px blue !important; */
    border: none;
    max-height: calc(100vh - var(--vspage__footer-height) - var(--appbar-height));
    --toolbar-height: 42.4px;
}

.text-viewer {
    overflow-y: scroll;
}


.publish-expand {
    height: 38%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
    width: 100%;
    background-color: white;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.parent > .footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    width: 100%;
    bottom: 0;
    position: sticky;
    box-shadow: 0 0 7.5px 0 rgba(0, 0, 0, .5);
}

.parent > .footer svg {
    color: hsl(271, 40%, 40%);
}

.online-collaborators {
    width: 100%;
    background-color: white;
    z-index: 3;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 62%;
}

.parent > .chat {
    grid-area: chat;
    min-height: 0;
    height: 100%;
    z-index: 3;
    /* border: solid 3px turquoise; */
}

.publish-button-active {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 10px;
    border-radius: 100px;
    width: fit-content;
    background-color: crimson;
    cursor: pointer;
    white-space: nowrap;
}

.publish-button-inactive {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 10px;
    border-radius: 100px;
    width: fit-content;
    background-color: rgba(220, 20, 60, 0.541);
    white-space: nowrap;
    pointer-events: fill;
}

.publish-button-inactive:hover {
    cursor: not-allowed;
}

.expand-button {
    background-color: transparent;
    /* padding-top: 5px; */
}

.expand-button:hover {
    cursor: pointer;
}

.expand-icon {
    height: 100%;
    /* padding-top: 12.5px; */
    color: var(--icons)
}

.invite-button {
    background-color: transparent;
    border: none;
    font-size: 11px;
}

.invite-button:hover {
    cursor: pointer;
}

.invite-icon {
    color: var(--icons);
    pointer-events: none;
}

.online-collaborators {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 11px;
}

.images {
    width: 58px;
    border-radius: 50%;
    margin-right: 18px;
}


