.textEditorContainer {
  /* border: solid 4px red; */
  /* height: 548px; */
  height: 100%;
  /* max-height: 100%; */
}

.ql-toolbar.ql-snow {
  display: none;
  justify-content: center;
  position: relative;
  /* border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px; */
  top: 0;
  min-height: var(--toolbar-height);
  /* z-index: 1; */
  background-color: #F3F3F3;
  /* border: none; */
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
  z-index: 1;
  /* min-width: fit-content; */
  /* flex-wrap: nowrap; */
  /* overflow-x: hidden; */
}

.ql-editor,
.ql-editor.ql-blank {
  /* overflow-y: scroll; */
  /* float: none !important; */
  /* border: 4px solid purple; */
  z-index: 0;
  position: relative;
  overflow-y: auto;
  --ql-editor-width: 8.3in;
  --ql-editor-height: calc(var(--ql-editor-width) * 1.409);
  width: var(--ql-editor-width);
  min-height: var(--ql-editor-height) !important;
  /* min-height: min-content !important; */
  /* height: max-content; */
  /* max-height: 1000000000px !important; */
  /* height: 0.1in; */
  /* height: auto; */
  /* min-height: calc(var(--ql-editor-width) * 1.294); */
  padding: 1in;
  /* padding: 0; */
  margin: 20px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
  background-color: white;
  /* display: none; */
  min-width: min-content;
  /* margin: 0; */
  flex: 0;
}

.ql-editor *,
.ql-editor.ql-blank * {
  position: relative;
}

.ql-container,
.ql-container.ql-snow {
  border: none;
  padding: 0;
  /* border: 4px solid green !important; */
  overflow-y: scroll;
  --ql-container-height: calc(100% - var(--toolbar-height));
  height: var(--ql-container-height);
  max-height: var(--ql-container-height);
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: min-content;
}

/* .ql-clipboard {
  position: fixed !important;
  opacity: 0 !important;
  border: solid 5px black;
  left: 50% !important;
  top: 50% !important;
} */

/* .ql-container *,
.ql-container.ql-snow * {
  transform: scale(0.7)
} */

@page {
  margin: 1in;
}

@media print {
  body {
    background: none;
  }

  .textEditorContainer .ql-editor {
    width: 6.5in;
    height: 9in;
    padding: 0;
    margin: 0;
    box-shadow: none;
    align-self: flex-start;
  }

  /* .textEditorContainer .ql-toolbar.ql-snow {
    display: none;
  } */
}