.app {
    margin: 0px;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 66px 1fr;
}

.page {
    margin: 0px;
    display: grid;
    width: 100%;
    grid-template-rows: 72px 1fr;
    overflow-x: hidden;
    overflow-y: scroll;
}