.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.container-position {
    background-color: #fafafa;
    max-width: 40vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.searchbar{
    /* border: 4px yellow solid; */
    padding-top: 3vh; 
    display: flex;
    align-items: center;
    justify-content: space-around;
}
