.feeddiv{
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

.center-aligned{
  width: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  
}

.allcards{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
