.blue-card{
    height: 70px;
    width: 38vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin: 2vh 0vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.user-profile {
    display: flex;
}

.picButton{
    margin-left: 1vw;
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    justify-self: flex-start;
    background-image: url("/src/assets/frog.jpg");
    background-position: center;
}

.name {
    margin-left: 1.1vw;
    font-size: 1em;
    font-style: italic;
    align-self: center;
    height: 3vh;
    width: 3.3vw;
    justify-self: flex-end;
}

.del{
    margin-right: 1.5vw;
    border-radius: 6px;
    background-color: #FAFAFA;
    min-height: 36%;
    min-width: 15%;
    justify-self: flex-end;
    cursor: pointer;
}

.del:hover {
    background-color: crimson;
    color: white;
}