.red-card {
    height: 70px;
    width: 38vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin: 2vh 0vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.report{
    display: flex;
    align-items: center;
    font-size: 0.8em;
}

.reporter {
    margin-left: 1vw;  
    font-size: 0.8em;
}

.pic {
    margin-left: 1vw;
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    justify-self: flex-start;
    background-image: url("/src/assets/frog.jpg");
    background-position: center;
}

.body{
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
}

.collab {
    margin-bottom: 1vh;
    font-style: italic;
    font-size: 1em;
    margin-top: 0.7vh;
    margin-bottom: 0.1vh;
}

.owner {
    font-style: italic;
    font-size: 0.8em;
}


.view {
    margin-right: 1vw;
    border-radius: 6px;
    background-color: #FAFAFA;
    min-height: 3.6vh;
    min-width: 3.5vw;
    cursor: pointer;
}

.view:hover {
    background-color: crimson;
    color: white;
}

.delete-collab {
    border-radius: 6px;
    background-color: #FAFAFA;
    min-height: 3.6vh;
    min-width: 3.5vw;
    cursor: pointer;
}

.delete-collab:hover {
    background-color: crimson;
    color: white;
}