.red-card{
    height: 70px;
    width: 600px;
    border: 2px red solid;
    display: flex;
    border-radius: 10px;
    margin: 2vh 0;
   
}

.pic2{
        /* margin-top: 5px;
    margin-left: 5px; */
    position: relative;
    top: 2px;
    left: 5px;
    height: 40px;
    width: 100px;
    border: 2px solid black;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 20px; */
}

.p{
    border: none;
    background: none;
    color: white;
}

.body{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 0.5rem;
}

.middle1 {
    /* margin-top: 20px; */
    height: 20px;
    width: 100px;
    border: 2px solid black;
    background-color: black;
    position: relative;
    top: 5px;
    left: 15px;
}
.collab{
    border: none;
    background: none;
    color: white;
}
.middle2 {
    /* margin-top: 20px; */
    height: 20px;
    width: 80px;
    border: 2px solid grey ;
    background-color: grey;
    position: relative;
    top: 5px;
    left: 20px;
}
.owner{
    border: none;
    background: none;
    color: white;
}

.side-part{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    top: 2px;
}

.side1{
    height: 20px;
    width: 60px;
    border: 2px lightskyblue solid;
    background-color: lightskyblue;
    position: relative;
    top: 2px;
    right: -300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side2{
    height: 20px;
    width: 60px;
    border: 2px red solid;
    background-color: red;
    position: relative;
    top: 2px;
    right: -300px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.reporter{
    position: relative;
    height: 15px;
    width: 100px;
    top: 3px;
    left: 5px;
    border: 2px solid red;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.report{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 0.2rem;
}

.r{
    border: none;
    background: none;
    color: white;
}

.v{
    border: none;
    background: none;
    color: black;   
}

.d{
    border: none;
    background: none;
    color: white;

}